/* CSS variables */
:root {
  --primary: #201e1f;
  --gray: #3e3e3e;
  --light: #fefffe;
  --shadow: 0px 5px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
  margin: 0;
}

img {
  max-width: 100%;
  color: var(--light);
}

.header {
  margin: 0;
  height: 100px;
  background: var(--gray);
}

/* menu style */
.menu {
  background: var(--light);
  align-items: center;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'logo logo search search search search search option'
}

.logo {
  grid-area: logo;
}
.logo .logo-img {
  width: 3rem;
}

.search {
  grid-area: search;
  position: relative;
}
.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  box-shadow: var(--shadow);
}
.search img {
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
}

.option {
  grid-area: option;
}
.option img {
  float: left;
  width: 2rem;
  padding: 5px;
}
.user-img {
  padding-left: 15px;
}
.user-img:hover {
  cursor: pointer;
}
.cart:hover {
  cursor: pointer;
}
/* body style */
.main-body {
  display: grid;
  grid-gap: 20px;
  padding: 0 6rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'nav-bar nav-bar main-content main-content main-content main-content main-content main-content'
}

.nav-bar {
  grid-area: nav-bar;
}
.main-content {
  grid-area: main-content;
}
/* nav style */
.category ul {
  padding-left: 0;

}
.category ul li {
  list-style-type: none;
  margin-left: 0;
  line-height: 1.5rem;
}
.category ul li:hover {
  cursor: pointer;
  color: var(--gray);
  font-weight: bold;
}
.bar {
  width: 200px;
  height: 0.75rem;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(104, 104, 104, 0.8);
  background: #2e302e;
  position: relative;
  margin: 2rem 0;
}
.circle-price {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--grey);
  border: 5px solid var(--light);
}
.circle-price-1 {
  left: 1.5rem;
}
.circle-price-2 {
  right: 1.5rem;
}
/* main content style */
.book-direct {
  padding: 1rem 0;
  line-height: 100%;
}
.book-direct span {
  display: inline-block;
  overflow: auto;
  padding: 0 0 4px 0;
}
.book-infor {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'book-slide book-slide book-detail book-detail book-detail'
}
.book-slide {
  grid-area: book-slide;
}
.book-detail {
  grid-area: book-detail;
}
.option {
  display: inline-flex;
  background-color: var(--light);
  border-radius: 20px;
  color: var(--gray);
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.minus:hover {
  cursor: pointer;
}
.plus:hover {
  cursor: pointer;
}
.add-cart:hover {
  cursor: pointer;
}
.add-cart {
  display: inline-flex;
  height: 2.5rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
}
.detail-infor {
  width: 80%;
}
.circle {
  padding: 5px 0;
  text-align: center;
}
.circle-slide {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid var(--light);
}
.active {
  background: var(--light);
}

.comment-nav {
  margin-top: 3rem;
  height: 3rem;
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'comment-input comment-input comment-input comment-input comment-button'
}
.comment-input {
  grid-area: comment-input;
  border-radius: 25px;
  padding: 10px;
}
.comment-button {
  grid-area: comment-button;
  border-radius: 25px;
}
.star-static {
  height: 2.5rem;
  padding: 1rem 0;
}

.comment {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'user comment-detail comment-detail comment-detail comment-detail'
}
.user {
  grid-area: user;
  text-align: center;
  padding: 0;
}
.comment-detail {
  grid-area: comment-detail;
}
.user > img {
  height: 3.5rem;
}
.user > h4 {
  margin: 0;
}
.user > p {
  margin: 0;
}
.comment-detail > img {
  height: 1rem;
}
.comment-detail > .star {
  height: 30px;
}
.numeric {
  float: right;
  width: 50%;
}
.suggest {
  margin-top: 3rem;
}
.suggest-book {
  width: 80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'book-1 book-2 book-3 book-4'
}
.book {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}
.book > h4 {
  margin: 3px;
}
.book > span {
  margin: 0;
}
.book-1 {
  grid-area: book-1;
}
.book-2 {
  grid-area: book-2;
}
.book-3 {
  grid-area: book-3;
}
.book-4 {
  grid-area: book-4;
}

.detail {
  font-size: 0.8rem;
  width: 50%;
  display: grid;
  margin-bottom: 2rem;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'entity infor-entity'
}
.detail ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2rem;
}
.entity {
  grid-area: entity;
}
.infor-entity {
  grid-area: infor-entity;
}
/* main footer style */
.main-footer {
  background-color: var(--gray);
  font-size: 0.6rem;
  padding: 0 2rem 1rem 2rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    'team open-time payment socials download contact feedback'

}
.team {
  grid-area: team;
}
.open-time {
  grid-area: open-time;
}
.payment {
  grid-area: payment;
  width: 60%;
}
.socials {
  grid-area: socials;
  width: 60%;
}
.download {
  grid-area: download;
}
.contact {
  grid-area: contact;
  display: inline-grid;
}
.feedback {
  grid-area: feedback;
}
.main-footer img {
  height: 1.5rem;
}
.main-footer h3 {
  padding-bottom: 0.7rem;
}
