/* CSS variables */
:root {
  --primary: #201e1f;
  --gray: #3e3e3e;
  --light: #fefffe;
  --shadow: 0px 5px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
  margin: 0;
}

img {
  max-width: 100%;
  color: var(--light);
}

.header {
  margin: 0;
  height: 100px;
  background: var(--gray);
}

/* menu style */
.menu {
  background: var(--light);
  align-items: center;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'logo logo search search search search search option'
}

.logo {
  grid-area: logo;
}
.logo .logo-img {
  width: 3rem;
}

.search {
  grid-area: search;
  position: relative;
}
.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  box-shadow: var(--shadow);
}
.search img {
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
}

.option {
  grid-area: option;
}
.option img {
  float: left;
  width: 2rem;
  padding: 5px
}
.option .user {
  padding-left: 15px;
}
